PORT=3003

#mongodb+srv://cda123MGDB --> mongose
DATABASE_URL=mongodb://cda123MGDB:<db_password>@ac-khwhdrp-shard-00-00.ixixbyz.mongodb.net:27017,ac-khwhdrp-shard-00-01.ixixbyz.mongodb.net:27017,ac-khwhdrp-shard-00-02.ixixbyz.mongodb.net:27017/<base de datos>?ssl=true&replicaSet=atlas-p5ge50-shard-0&authSource=admin&appName=microservicios-DB
#DATABASE_URL="file:./dev.db" sqlite -->prisma
SERVER_NATS=nats://nats-server:4222
